# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Libraries by location
lib/*

# Compiled test programs
test/minimal
test/multithread

