# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ROOT dictionaries
*.pcm

# Libraries by location
lib/*

# Uncompressed data files
data/JERC/*.txt
